header {
    background-color: rgb(5, 5, 5);
    color: #c23e3e;
    text-align: center;
    height: 7%;
}

li:nth-child(odd) {
    background-color: #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}

li:nth-child(odd):hover {
    background-color: gold;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.geral {
    min-height: 100%;
    position: relative;
    width: 800px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content {
    overflow: hidden;
}

.aside {
    width: 200px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}